{
  "extends": [
    // ESLint 官方提供的核心规则集
    "eslint:recommended",
    // 使用腾讯的 ESLint 配置。这么写ESLint 会自动查找名为 eslint-config-tencent的npm包
    "tencent"
  ],
  "globals": {
    "require": false,
    "module": false,
    "$": false,
    "window": false,
    "document": false,
    "Date": false,
    "Image": false,
    "Event": false,
    "uigs_pv": false,
    "uigs_cl": false,
    "MutationObserver": false
  },
  "ignorePatterns": [
    "*.scss",
    "*.css",
    "*.json",
    "*.md",
    "types.ts"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-plusplus": "warn", //禁止使用++，--
    "prefer-const": "warn",
    "camelcase": "warn",
    "space-before-function-paren": "warn",
    "valid-jsdoc": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"], // 指定文件匹配模式
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      // 会合并外层的extends
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "tencent"
      ]
      // 可以在这里为 TypeScript 文件指定特定的规则
    },
    {
      // 匹配 JavaScript 文件
      "files": ["*.js"]
      // 你可以在这里指定仅适用于 JavaScript 文件的配置
      // 例如，如果你想在 JavaScript 文件中允许使用 require
    }
  ]
}
